:root{
	--nord-background:#2e3440;
	--nord-text-color:#ecf0f1;
	--nord-h1-color:rgba(255, 250, 240, 0.897);
	--nord-text-hover-color:#eceff4;
	--gruvdark-background:#282828;
	--gruvdark-text-color:#fbf1c7;
	--gruvdark-h1-color:#ebdbb2;
	--gruvdark-hover-color:#fe8019;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    color: #F5F5;
    font-size: 15.5px;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background-color: var(--gruvdark-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--gruvdark-h1-color);
    text-align: center;
  }
  
  .links-wrapper {
    display: flex;
  }
  
  .links-wrapper div {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
  }
  
  .links-wrapper div:last-child {
    margin-right: 0;
  }
  
  .links-wrapper div a.mid {
    text-align: center;
    text-decoration: none;
    color: var(--gruvdark-text-color);
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: medium;
    position: relative;
  }

   .links-wrapper div a.mid:hover{
    color: var(--gruvdark-hover-color);
    opacity: 1;
    cursor: default;
     transition: all 0.3s ease-in-out 0s;
  } 



  .links-wrapper div a.mid::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: var(--gruvdark-h1-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .links-wrapper div a.mid:hover::before {
    visibility: visible;
    transform: scaleX(0.5);
    
  }
  
